.list-container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: scroll;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.list-item {
  top: 20px;
  color: #ffffff;
  height: 20000px;
}

#haunted-canvas {
  position: fixed;
  top: 0;
  left: 0;
}
